.line-chart-container {
  display: flex;
  flex: 1;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(18, 31, 48, 1);
  border: 2px solid rgba(208, 208, 208, 1);
  border-radius: 1rem;
}

.line-chart-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.line-chart-details span {
  font-weight: 600;
  font-size: 0.75rem;
}

.line-chart-details p {
  font-size: 0.75rem;
}
