.contributor-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 1rem;
}

.contributor-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-shrink: 0;
}

.contributor-header span {
  font-weight: 700;
  font-size: 1.5rem;
  color: #222;
}

.contributor-header p {
  font-size: 1.5rem;
  color: #666;
  font-style: normal;
  font-weight: 100;
}

.avatar-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1rem;
  overflow: hidden;
  border: 3px solid #f5f7fa;
  border-radius: 1rem;
}
