.contributor-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  border-radius: 1rem;
}

.contributor-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  flex-shrink: 1;
}

.contributor-header span {
  font-weight: 700;
  font-size: 1.5rem;
  color: #222;
}

.contributor-header p {
  font-size: 1.5rem;
  color: #666;
  font-style: normal;
  font-weight: 100;
}

.avatar-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.avatar-row {
  display: flex;
  gap: 2rem;
}

.avatar-row-1 {
  justify-content: flex-start;
}

.avatar-row-2 {
  justify-content: center;
}
